.navbar-brand, .micrb {
    font-family: "Times New Roman"; 
}

.first-navbar, .search-button, .icons {
    background-color: darkred;
}

.bg-image {
    background-size: cover;
    background-position: center;
    
}

.justify-content-center {
    background-color: rgba(255, 255, 255, 0.5);
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
}

/* .carousel-control-prev-icon {
    background-image: url("Images/arrow-right-square-fill.svg");
    background-color: red
} */


